<config>
    <modules>
        <PI_Stepincheckout>
            <version>0.1.2</version>
        </PI_Stepincheckout>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <PI_Stepincheckout before="Mage_Adminhtml">PI_Stepincheckout_Adminhtml</PI_Stepincheckout>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <stepincheckout>
                <use>standard</use>
                <args>
                    <module>PI_Stepincheckout</module>
                    <frontName>stepincheckout</frontName>
                </args>
            </stepincheckout>
			<checkout>
                <args>
                    <modules>
                        <PI_Stepincheckout before="Mage_Checkout">PI_Stepincheckout_Checkout</PI_Stepincheckout>
                    </modules>
                </args>
            </checkout>
        </routers>
        <layout>
            <updates>
                <stepincheckout>
                    <file>stepincheckout.xml</file>
                </stepincheckout>
            </updates>
        </layout>
        <events>
            <sales_convert_quote_to_order>
                <observers>
                    <convertSelectedStore_observer>
                        <type>singleton</type>
                        <class>PI_Stepincheckout_Model_Observer</class>
                        <method>convertSelectedStore</method>
                    </convertSelectedStore_observer>
                </observers>
            </sales_convert_quote_to_order>
        </events>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <stepincheckout>
                    <file>stepincheckout.xml</file>
                </stepincheckout>
            </updates>
        </layout> 
    </adminhtml>
    <global>
        <blocks>
            <stepincheckout>
                <class>PI_Stepincheckout_Block</class>
            </stepincheckout>
            <checkout>
                <rewrite>
                    <onepage>PI_Stepincheckout_Block_Checkout_Onepage</onepage>
                </rewrite>
            </checkout>
        </blocks>
        <models>
            <checkout>
                <rewrite>
                    <type_onepage>PI_Stepincheckout_Model_Checkout_Type_Onepage</type_onepage>
                </rewrite>
            </checkout>
            <stepincheckout>
                <class>PI_Stepincheckout_Model</class>
                <resourceModel>stepincheckout_resource</resourceModel>
            </stepincheckout>
            <stepincheckout_resource>
                <class>PI_Stepincheckout_Model_Resource</class>
                <entities>
                    <store>
                        <table>stepincheckout_store</table>
                    </store>
                </entities>
            </stepincheckout_resource>
        </models>
        <resources>
            <stepincheckout_setup>
                <setup>
                    <module>PI_Stepincheckout</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </stepincheckout_setup>
        </resources>
        <helpers>
            <stepincheckout>
                <class>PI_Stepincheckout_Helper</class>
            </stepincheckout>
        </helpers>
	
        <fieldsets>
            <sales_convert_quote>
                <selected_store>
                    <to_order>*</to_order>
                </selected_store>
                <select_substitution>
                    <to_order>*</to_order>
                </select_substitution>
            </sales_convert_quote>
            <sales_convert_order>
                <selected_store>
                    <to_quote>*</to_quote>
                </selected_store>
                <select_substitution>
                    <to_quote>*</to_quote>
                </select_substitution>
            </sales_convert_order>
        </fieldsets>
        
        
        <pdf>
            <totals>
                <selected_store translate="title">
                    <title>Selected Store</title>
                    <source_field>selected_store</source_field>
                    <model>stepincheckout/sales_order_pdf_selectedstore</model>
                    <font_size>7</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>650</sort_order>
                </selected_store>
            </totals>
        </pdf>
        
        
        <!--Add selected store price in total-->
        <sales>
            <quote>
                <totals>
                    <selected_store>
                        <class>stepincheckout/sales_quote_address_total_price</class>
                    </selected_store>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <selected_store>
                        <class>stepincheckout/sales_order_total_invoice_price</class>
                    </selected_store>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <selected_store>
                        <class>stepincheckout/sales_order_total_creditmemo_price</class>
                    </selected_store>
                </totals>
            </order_creditmemo>
        </sales>
    </global>
</config>
